{% extends 'base.html' %}
{% block content %}
<h3>Điểm danh học viên</h3>

<form method="post">
    {% csrf_token %}
    <table class="table">
        <tr>
            <th>Học viên</th>
            <th>Trạng thái</th>
        </tr>

        {% for e in enrollments %}
        <tr>
            <td>{{ e.student.full_name }}</td>
            <td>
                <select name="status_{{ e.student.id }}" class="form-select">
                    <option value="present">Có mặt</option>
                    <option value="absent">Vắng</option>
                    <option value="late">Đi trễ</option>
                </select>
            </td>
        </tr>
        {% endfor %}
    </table>

    <button class="btn btn-primary">Lưu điểm danh</button>
</form>
{% endblock %}
