<a href="{% url 'class_create' %}">+ Tạo lớp</a>

<table>
  <tr>
    <th>Mã lớp</th>
    <th>Tên lớp</th>
    <th>Giảng viên</th>
    <th>Trạng thái</th>
    <th>Hành động</th>
  </tr>

  {% for c in classes %}
  <tr>
    <td>{{ c.code }}</td>
    <td>{{ c.name }}</td>
    <td>
      {% for l in c.lecturers.all %}
        {{ l.full_name }}<br>
      {% empty %}
        Chưa phân công
      {% endfor %}
    </td>
    <td>
      {% if c.is_active %}Đang hoạt động{% else %}Đã kết thúc{% endif %}
    </td>
    <td>
      <a href="{% url 'class_edit' c.id %}">Sửa</a>
      {% if c.is_active %}
        | <a href="{% url 'class_deactivate' c.id %}">Kết thúc</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
