{% extends 'base.html' %}
{% block title %}Quản lý người dùng{% endblock %}

{% block content %}
<div class="form-card">
    <h4 class="mb-4">👤 {{ title }}</h4>

    <form method="post">
        {% csrf_token %}

        <div class="row">
            {% for field in form %}
            <div class="col-md-6 mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <small class="text-danger">{{ field.errors|striptags }}</small>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <div class="mt-4">
            <button class="btn btn-primary px-4">💾 Lưu</button>
            <a href="{% url 'user_list' %}" class="btn btn-secondary">↩ Quay lại</a>
        </div>
    </form>
</div>
{% endblock %}
